*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 10;
    background-color:rgba(193,234,234, 1);
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 1170px;
}
.header-left{
    margin: 20px;

}
.header-left h3{
    font-size: 20px;
    cursor: pointer;
}

.header-right{
    position: relative;
    float: right;
    margin: 0px;
}
.header-right a{
    color: black;
    margin: 0px 10px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 1s;
}

.header-right a:hover{
    transform: translateY(-10px);
}
/* ======================================================================================================== */
/* Top Wrapper */

.top-wrapper{
    padding: 220px 0 100px 0;
    color: black;
    background-image: url("beach1.jpg");
    background-size: cover;
    min-height: 100vh;
}
.top-wrapper h1{
    font-size: 48px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    width: 21%;
}
.top-wrapper p{
    font-size: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.top-wrapper a{
    text-decoration: none;
}
.btn{
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    opacity: 0.6;
    transition: all 0.5s;
}
.btn:hover{
    opacity: 1;
}
.learn{
    background-color:rgba(18,137,167);
}

